<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add New Homes</h1>
    <form action="/homes" method="POST">
        <input name="home" placeholder="Home Nickname" type="text"><br>
        <input name="neighborhood" placeholder="Neighborhood" type="text"><br>
        How many <input name="bedrooms" placeholder="#" type="number"> Bedrooms<br>
        How many <input name="bathrooms" placeholder="#" type="number"> Bathrooms<br>
        $ <input name="price" placeholder="List Price" type="number"><br>
        <button type="submit">Add</button>
    </form>
</body>
</html>