<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add New Homes</h1>
    <form action="">
        <input name="Home Nickname" placeholder="Home Nickname" type="text"><br>
        <input name="Address" placeholder="Address" type=""><br>
        <input name="Neighborhood" placeholder="Neighborhood" type="text"><br>
        How many <input name="Bedrooms" placeholder="#" type="number"> Bedrooms<br>
        How many <input name="Bathrooms" type="number"> Bathrooms<br>
        $ <input name="List Price" placeholder="List Price" type="number"><br>
        <br>
        <button type="submit">Add</button>
    </form>
</body>
</html>